{% extends "front/base_setting.html" %}
{% block title %}{{title}}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<br>
<div class="container">
    <div class="d-flex flex-nowrap">
        <div class="col-md-auto px-5">
            <h1>{{title}}</H1>
        </div>
    </div>
    <br>
    <div class="d-flex flex-nowrap">
        <div class="col-md-auto px-5">
            <table class="table table-bordered table-sm table-responsive border-success" border="1">
                <thead class="table-active" align="center" height="35">
                    <tr>
                        <th>フォーマット一覧</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in format_all %}
                        {% if page_setting %}
                            <tr><td><a href="{% url 'front:setting_approval_format' d.id %}" name='btn_format'>{{ d.title }}</a></td></tr>
                        {% else %}
                            <tr><td><a href="{% url 'front:new_approval' d.id %}" name='btn_approval'>{{ d.title }}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-auto px-5">
            <form action="?" method="POST">
                {% csrf_token %}
                    
                title:
                    <br>
                    <input type="text" name="title" value={{data.title}}>
                    <br>
                    <br>
                    詳細:
                    <br>
                    <textarea name="detail" cols="50" rows="10">{{data.detail}}</textarea>
                    <br>
                    <br>
                    ルート(カンマ区切り):<br>
                    <textarea name="route" cols="50" rows="10">{% for v in route %}{% if forloop.counter != 1%},{% endif %}{{v.userid}}{% endfor %}</textarea>
                    <div class="text-right">
                        {% if page_setting %}
                            <button type="submit" class="btn btn-primary" name='btn_update'>更新</button>
                        {% endif %}
                        {% if check %}
                        <button type="submit" class="btn btn-danger" name='btn_reject'>却下</button>
                        <button type="submit" class="btn btn-primary" name='btn_approve'>承認</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary" name='btn_insert'>新規登録</button>
                        {% endif %}
                    </div>
            </form>
        </div>
        <div class="col-md-auto px-5">
            <form action="?" method="POST">
                ユーザ一覧
                <table class="table table-bordered table-sm table-responsive border-success" border="1">
                    <thead class="table-active" align="center" height="35">
                        <tr>
                            <th></th>
                            <th width=150>id</th>
                            <th width=150>名前</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in user_all %}
                        <tr>
                            <td align="center"><button type="submit" class="btn btn-primary btn-sm" name="btn_add" value="{{v.username}}">追加</button></td>
                            <td>
                                {{v.username}}
                            </td>
                            <td>
                                {{v.last_name}}{{v.first_name}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>







{% endblock %}
