{% extends "front/base_nav.html" %}
{% block title %}決裁{% endblock %}

{% block head %}
{% csrf_token %}
{% endblock %}

{% block content %}


<hr>
<div class="uk-container">

    <div class="uk-card uk-card-default uk-card-body">

        <div class="uk-card-head">
            <h2>要承認(自分の承認待ち)</h2>
        </div>

        <div class="uk-card-body">
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-1-10"></th>
                        <th class="uk-width-1-10" hidden="true"></th>
                        <th class="uk-width-1-5">title</th>
                        <th class="uk-width-1-6">起草者</th>
                        <th class="uk-width-1-6">上申日</th>
                    </tr>
                </thead>
                <tbody id="MustCheck">
                    {% for key, value in need_check.items %}
                    <tr>
                        <td><a class="uk-button uk-button-primary" name="btnCheck" href="#modal-format" uk-toggle>確認</a></td>
                        <td data-name="id" hidden="true">{{value.id}}</td>
                        <td>{{value.title}}</td>
                        <td>{{value.user.last_name}}{{value.user.first_name}}</td>
                        <td>{{value.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style type="text/css">
        .hoge {
          animation: blinkAnimeS2 2s infinite alternate;
        }
        @keyframes blinkAnimeS2{
           0%{ color : #32d296;   background:#fff }
         100%{ color : #fff; background:#32d296   }
        }
    </style>
    <hr>
    <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-head">
            <h2>上申した決裁(未完了)</h2>
        </div>
        <div class="uk-card-body">
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr>
                        <th hidden="true" class="uk-width-1-10"></th>
                        <th class="uk-width-1-10">ステータス</th>
                        <th class="uk-width-1-5">title</th>
                        <th class="uk-width-1-4">決裁ルート</th>
                        <th class="uk-width-1-6">上申日</th>
                        <th class="uk-width-1-10"></th>
                    </tr>
                </thead>
                <tbody id="NotCompleted">
                    {% for key, value in approval.items %}
                    <tr>
                        <td hidden="true" data-name="id">{{ value.approval.id }}</td>
                        <td>{{ value.status }}</td>
                        <td data-name="title">{{ value.approval.title }}</td>
                        <td>{% for route in value.route %}

                            {% if forloop.counter != 1 %}
                            <span uk-icon="chevron-double-right"></span>
                            {% endif %}

                            {% if route.status == 2 %}
                            <button class="uk-label-success hoge" type="button">{{route.user.last_name}}{{route.user.first_name}}</button>
                            {% else %}
                            <button class="uk-label-clear" type="button">{{route.user.last_name}}{{route.user.first_name}}</button>
                            {% endif %}

                            {% endfor %}
                        </td>
                        <td>{{ value.approval.date }}</td>
                        <td>
                            <button class="uk-button uk-button-small uk-button-danger" name="btnCancel" type="button">取下</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-card-foot uk-text-right">
            <a class="uk-button uk-button-primary" href="#modal-format" uk-toggle id="btnNew">新規</a>
        </div>
    </div>

    <hr>
    <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-head">
            <h2>上申した決裁(完了)</h2>
        </div>
        <div class="uk-card-body">

            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-1-10">結果</th>
                        <th class="uk-width-1-5">title</th>
                        <th class="uk-width-1-4">決裁ルート</th>
                        <th class="uk-width-1-6">上申日</th>
                        <th class="uk-width-1-6">完了日</th>
                    </tr>
                </thead>
                <tbody id="Completed">
                    {% for key, value in approval_complete.items %}


                    {% if value.status == '承認' %}
                    <tr class="uk-background-approved">
                        {% else %}
                    <tr class="uk-background-denied">
                        {% endif %}
                        <td>{{ value.status }}</td>
                        <td>{{ value.approval.title }}</td>
                        <td>{% for route in value.route %}

                            {% if forloop.counter != 1 %}
                            <span uk-icon="chevron-double-right"></span>
                            {% endif %}

                            {% if route.status == 8 %}
                            <button route-id="{{route.id}}" approval-id="{{value.approval.id}}" name="routeDetail" class="uk-label-danger" type="button">{{route.user.last_name}}{{route.user.first_name}}</button>
                            {% elif route.status == 9 %}
                            <button route-id="{{route.id}}" approval-id="{{value.approval.id}}" name="routeDetail" class="uk-label-success" type="button">{{route.user.last_name}}{{route.user.first_name}}</button>
                            {% else %}
                            <button route-id="{{route.id}}" approval-id="{{value.approval.id}}" name="routeDetail" class="uk-label-clear" type="button">{{route.user.last_name}}{{route.user.first_name}}</button>
                            {% endif %}

                            {% endfor %}
                        </td>
                        <td>{{ value.approval.date }}</td>
                        <td>{{ value.approval.date_complete }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- モーダルテンプレート -->
    <div id="modal-format" uk-modal bg-close=false>
        <div class="uk-modal-dialog">

            <button class="uk-modal-close-default" type="button" id="exitFormat" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title" id="format-title"></h2>
            </div>

            <div hidden=true id="approval-id"></div>

            <div class="uk-modal-body" uk-overflow-auto>

                <div uk-form-custom="target: > * > span:first-child">
                    <select id="format" aria-label="Custom controls">
                        <option value="">ひな形選択（オプション）</option>
                    </select>
                    <button class="uk-button uk-button-small" type="button" tabindex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                </div>

                <h3>名目</h3>
                <input type="text" id="title"
                    class="uk-input">
                <div hidden=true class="uk-alert uk-alert-danger" id="alert-title"></div>
                
                <h3>詳細</h3>
                <textarea type="text" id="detail"
                    class="uk-textarea" rows="5"></textarea>
                <div hidden=true class="uk-alert uk-alert-danger" id="alert-detail"></div>

                <h3 id="title-comment">コメント</h3>
                <textarea type="text" id="comment"
                    class="uk-textarea" rows="5"></textarea>
                <div hidden=true class="uk-alert uk-alert-danger" id="alert-comment"></div>

                <h3 id="title-route">ルート</h3>
                <span id="span-start" class="uk-label uk-label-clear">開始</span>
                <div id="route">
                </div>
                <span id="span-finish" class="uk-label uk-label-clear">終了</span>
                <div hidden=true id="selectUsers">
                </div>
            </div>

            <div class="uk-modal-footer uk-text-center">
                <button hidden=true class="uk-button uk-button-danger" type="button" id="btnDeny">却下</button>
                <button hidden=true class="uk-button uk-button-primary" type="button" id="btnApprove">承認</button>
                <button hidden=true class="uk-button uk-button-primary" type="button" id="btnRegister">上申</button>
            </div>

        </div>
    </div>

    <script type="text/javascript">

        {% autoescape off %}
        let protocol = "{{ protocol }}";
        let host = "{{ host }}";
        const url = "{{ base_url }}";
        {% endautoescape %}
        const selectUsers = document.querySelector('#selectUsers');
        const route = document.querySelector('#route');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const approvalId = document.querySelector('#approval-id')

        function deleteElem(e){
            e.target.closest('div').remove();
        };

        function clearFormat(){
            document.querySelector('#title').value = "";
            document.querySelector('#title').removeAttribute('disabled');
            document.querySelector('#detail').value = "";
            document.querySelector('#detail').removeAttribute('disabled');
            document.querySelector('#btnDeny').hidden = true;

            while( route.firstChild ){
                route.removeChild( route.firstChild );
            };

            document.querySelector('#alert-title').hidden = true;
            document.querySelector('#alert-detail').hidden = true;
            document.querySelector('#btnApprove').hidden = true;
            document.querySelector('#btnDeny').hidden = true;
            document.querySelector('#btnRegister').hidden = true;

            document.querySelector('#title-comment').hidden = true;
            document.querySelector('#comment').hidden = true;
            document.querySelector('#comment').value = "";
            document.querySelector('#comment').removeAttribute('disabled');
            document.querySelector('#alert-comment').hidden = true;
            approvalId.innerHTML = "";
            selectUsers.hidden = true;
            document.querySelector('#title-route').hidden = false;
            document.querySelector('#span-start').hidden = false;
            document.querySelector('#span-finish').hidden = false;
        };

        // 登録処理
        async function register() {

            let title = document.querySelector('#title').value;
            let detail = document.querySelector('#detail').value;

            if (title == "") {
                UIkit.alert(title);
                document.querySelector('#alert-title').hidden = false;
                document.querySelector('#alert-title').innerHTML = "名目は必須です。";
                return;
            };

            let approve_order = [];
            Array.from(route.children).forEach(function(e){
                approve_order.push(e.childNodes[0].value);
            });

            const data = {
                title: title,
                detail: detail,
                route: approve_order
            };

            const response = await request(url + "/approval/new/0", "POST", data, csrftoken)
            .then((data) => {
                if (data.reload) {
                    location.reload();
                }
            });

            // UIkit.modal(document.querySelector('#modal-format')).hide();
        };
        
        function addUser2List(elemBtn) {
            let elemDiv = document.createElement("div");
            elemBtn.className = "uk-label";
            elemBtn.type = "button";
            route.insertBefore(elemDiv, null);
            elemDiv.insertBefore(elemBtn, null);
        };

        function addUser(e) {
            let targetRow = e.target.parentElement.parentElement;
            let id = targetRow.querySelector('[data-name=id]').innerHTML;
            let name = targetRow.querySelector('[data-name=name]').innerHTML;
            let elemBtn = document.createElement("button");
            elemBtn.addEventListener('click', deleteElem);
            elemBtn.innerHTML = name;
            elemBtn.value = id;
            addUser2List(elemBtn);
        };

        function checkDetail(e) {
            let targetRow = e.target.parentElement.parentElement;
            let id = targetRow.querySelector('[data-name=id]').innerHTML;
            approvalId.innerHTML = id;
            request(url + "/approval/check/" + id, "GET", {}, csrftoken)
            .then((data) => {
                let title = data.data.title;
                let detail = data.data.detail;
                document.querySelector('#title').value = title;
                document.querySelector('#title').setAttribute('disabled', '');
                document.querySelector('#detail').value = detail;
                document.querySelector('#detail').setAttribute('disabled', '');
                document.querySelector('#btnDeny').hidden = false;
                document.querySelector('#format-title').innerHTML = "決裁承認";

                document.querySelector('#title-comment').hidden = false;
                document.querySelector('#comment').hidden = false;
                document.querySelector('#alert-comment').hidden = true;

                data.route.forEach( function(r) {
                    let elemBtn = document.createElement("button");
                    elemBtn.innerHTML = r.name;
                    addUser2List(elemBtn);
                });
            });
            document.querySelector('#btnApprove').hidden = false;
            document.querySelector('#btnDeny').hidden = false;
        };

        function cancelApproval(e) {
            let targetRow = e.target.parentElement.parentElement;
            let title = targetRow.querySelector('[data-name=title]').innerHTML;

            UIkit.modal.confirm('決裁:「' + title + '」を取り下げます。よろしいですか？')
            .then(function() {
                let id = targetRow.querySelector('[data-name=id]').innerHTML;
                let data = {
                    status: 7
                };
                request(url + "/approval/check/" + id, "POST", data, csrftoken)
                .then((data) => {
                    location.reload();
                });
            }, function () {
                return;
            });
        };

        function createUserList() {
            var row = '\
            <h3>ユーザ一覧</h3>\
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover"> \
                <thead> \
                    <tr> \
                        <th class="uk-width-1-10"></th> \
                        <th hidden=true class="uk-width-1-6">id</th> \
                        <th class="uk-width-1-6">名前</th> \
                    </tr> \
                </thead> \
                <tbody id="users"> \
                </tbody> \
            </table>'
            selectUsers.insertAdjacentHTML('beforeend', row);

            const users = document.querySelector('#users');
            request(url + '/userinfo', 'GET', {}, csrftoken)
            .then((data) => {
                Object.keys(data.users).forEach(function (d) {
                    var userId = data.users[d].id;
                    var userName = defaultStr(data.users[d].last_name + data.users[d].first_name, 'No Name');
                    
                    var elemTr = document.createElement("tr");

                    users.insertBefore(elemTr, null);

                    var elemTd01 = document.createElement("td");
                    var elemBtnAddUser = document.createElement("button");
                    elemBtnAddUser.className = "uk-button uk-button-default";
                    elemBtnAddUser.name = "btnAddUser";
                    elemBtnAddUser.type = "button";
                    elemBtnAddUser.value = userId;
                    elemBtnAddUser.innerHTML = "経路に追加";
                    elemBtnAddUser.addEventListener('click', addUser);
                    elemTr.insertBefore(elemTd01, null);
                    elemTd01.insertBefore(elemBtnAddUser, null);

                    // tdはcreateElement時もその後も、動的にname属性を設定できない inputもそうらしい
                    var elemTd02 = document.createElement("td");
                    elemTd02.hidden = true;
                    elemTd02.innerHTML = userId;
                    elemTd02.setAttribute('data-name', 'id');
                    elemTr.insertBefore(elemTd02, null);

                    var elemTd03 = document.createElement("td");
                    elemTd03.setAttribute('data-name', 'name');
                    elemTd03.innerHTML = userName;
                    elemTr.insertBefore(elemTd03, null);

                });
            });
        };

        function newDetail(e) {
            selectUsers.hidden = false;
            document.querySelector('#format-title').innerHTML = "新規決裁";
            document.querySelector('#btnRegister').hidden = false;
        };

        function updateStatus(e) {
            var id = approvalId.innerHTML;
            var status = 0;
            if (e.target.id == 'btnApprove'){
                status = 9;
            } else if (e.target.id == 'btnDeny'){
                status = 8;
            };
            var comment = document.querySelector('#comment').value
            var data = {
                status: status,
                comment: comment
            }
            const response = request(url + "/approval/check/" + id, "POST", data, csrftoken)
            .then((data) => {
                if (data.reload) {
                    location.reload();
                }
            });
        };
        function reviewDetail(e) {
            let id = e.target.getAttribute('approval-id');
            let routeId = e.target.getAttribute('route-id');
            request(url + "/approval/check/" + id, "GET", {}, csrftoken)
            .then((data) => {
                let title = data.data.title;
                let detail = data.data.detail;
                document.querySelector('#title').value = title;
                document.querySelector('#title').setAttribute('disabled', '');
                document.querySelector('#detail').value = detail;
                document.querySelector('#detail').setAttribute('disabled', '');
                document.querySelector('#comment').setAttribute('disabled', '');
                document.querySelector('#format-title').innerHTML = "決裁承認結果詳細";

                data.route.forEach( function(r) {
                    if (r.id != routeId) {
                        return; //forEachではcontinueは使えない
                    };
                    document.querySelector('#comment').value = r.comment;
                });
                document.querySelector('#title-comment').hidden = false;
                document.querySelector('#comment').hidden = false;
                document.querySelector('#alert-comment').hidden = true;
            });
            document.querySelector('#btnApprove').hidden = true;
            document.querySelector('#btnDeny').hidden = true;
            document.querySelector('#title-route').hidden = true;
            document.querySelector('#span-start').hidden = true;
            document.querySelector('#span-finish').hidden = true;

            UIkit.modal(document.querySelector('#modal-format')).show();
        };
        document.querySelectorAll('[name=btnCheck]').forEach(function (button) {
            button.addEventListener('click', checkDetail);
        });
        document.querySelectorAll('[name=btnCancel]').forEach(function (button) {
            button.addEventListener('click', cancelApproval);
        });
        document.querySelector('#btnNew').addEventListener('click', newDetail);
        document.querySelector('#btnDeny').addEventListener('click', updateStatus);
        document.querySelector('#btnApprove').addEventListener('click', updateStatus);
        document.querySelector('#btnRegister').addEventListener('click', register);
        document.querySelector('#modal-format').addEventListener('hidden', clearFormat);
        document.querySelectorAll('[name=routeDetail]').forEach(function (button) {
            button.addEventListener('click', reviewDetail);
        });
        createUserList();
    </script>
    {% endblock %}