{% extends "front/base_nav.html" %}
{% block title %}勤怠詳細{% endblock %}

{% block content %}
<hr>
<div class="uk-container">
    <div class="uk-grid-small uk-grid-match uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-body">
                    <h2><a href="#" onclick="selectMonth('prev');" uk-icon="icon: chevron-left" id="prev-month"
                            class="month_selector"></a>
                        {{year}}年{{month}}月
                        <a href="#" onclick="selectMonth('next');" uk-icon="icon: chevron-right" id="next-month"
                            class="month_selector"></a>
                    </h2>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-1-6">日所定時間(h)</th>
                            <th class="uk-width-1-6">月所定時間(h)</th>
                            <th class="uk-width-1-6">稼働時間</th>
                            <th class="uk-width-1-6">時間外</th>
                            <th class="uk-width-1-6">所定日数</th>
                            <th class="uk-width-1-6">稼働日数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{workhour_day}}</td>
                            <td>{{workhour_month}}</td>
                            <td>{{work_time_total.hour}}:{{work_time_total.minute|date:"i"}}</td>
                            <td>{{extra_hour_total.hour}}:{{extra_hour_total.minute|date:"i"}}</td>
                            <td>{{workday_month}}</td>
                            <td>{{work_day_total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="itemD">
    <table class="uk-table uk-table uk-table-middle uk-table-hover">
        <thead>
            <tr>
                <th>日</th>
                <th>曜日</th>
                <th class='uk-width-1-10'>勤怠区分</th>
                <th class='uk-width-1-5'>作業内容</th>
                <th class='uk-width-1-10'>始業</th>
                <th class='uk-width-1-10'>終業</th>
                <th class='uk-width-1-10'>休憩</th>
                <th class='uk-width-1-10'>勤務時間</th>
                <th class='uk-width-1-10'>時間外</th>
                <th class='uk-width-1-10'>交通費</th>
                <th class='uk-width-1-10'>備考</th>
                <th class='uk-width-1-10'>システム備考</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in attend.items %}
            <form action="{% url 'front:attend_register_day' year month forloop.counter %}" method="POST">
                {% csrf_token %}
                {% if value.holiday %}
                <tr class="uk-background-primary">
                    {% else %}
                <tr class="tr_detail_normal">
                    {% endif %}

                    <td name="date">{{ key }}</td>
                    <td>{{ value.weekday }}</td>
                    <td>
                        <div class="uk-margin">
                            <div uk-form-custom="target: > * > span:first-child">
                                <select name="work_status" aria-label="Custom controls">
                                    {% for wrk in workstatus %}
                                    {% if value.attend.work_status == wrk.id %}
                                    <option value="{{wrk.id}}" selected>{{wrk.name_selection}}</option>
                                    {% else %}
                                    <option value="{{wrk.id}}">{{wrk.name_selection}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <button class="uk-button uk-button-small" type="button" tabindex="-1">
                                    <span></span>
                                    <span uk-icon="icon: chevron-down"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                    {% if value.attend.work_detail is None %}
                    <td><input type="text" name="work_detail" class="uk-input"></td>
                    {% else %}
                    <td><input type="text" name="work_detail" value="{{value.attend.work_detail}}" class="uk-input">
                    </td>
                    {% endif %}
                    <td><input type="text" name="work_start" value="{{value.attend.work_start|date:'H:i'}}"
                            class="uk-input"></td>
                    <td><input type="text" name="work_end" value="{{value.attend.work_end|date:'H:i'}}"
                            class="uk-input"></td>
                    <td><input type="text" name="work_off" value="{{value.attend.work_off|date:'H:i'}}"
                            class="uk-input"></td>
                    <td>{{ value.attend.work_time|date:"H:i"}}</td>
                    <td>{{ value.attend.work_overtime|date:"H:i"}}</td>
                    <td><input type="text" name="carfare" value="{{value.attend.carfare}}" class="uk-input"></td>
                    {% if value.attend.memo is None %}
                    <td><input type="text" name="memo" class="uk-input"></td>
                    {% else %}
                    <td><input type="text" name="memo" value="{{value.attend.memo}}" class="uk-input"></td>
                    {% endif %}
                    {% if value.attend.sysmemo is None %}
                    <td></td>
                    {% else %}
                    <td>{{value.attend.sysmemo}}</td>
                    {% endif %}
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">

    {% autoescape off %}
    let year = {{ year }};
    let month = {{ month }};
    let protocol = "{{ protocol }}";
    let host = "{{ host }}";
    {% endautoescape %}
    const url = protocol + "://" + host;

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // 更新処理
    let update = async function (event) {
        let h = event.target;
        let targetRow = h.closest('tr');

        let date = targetRow.querySelector('[name=date]').innerHTML;

        // 入力値チェック
        let work_status = targetRow.querySelector('[name=work_status]').value;
        let work_detail = targetRow.querySelector('[name=work_detail]').value;
        let work_start = targetRow.querySelector('[name=work_start]').value;
        let work_end = targetRow.querySelector('[name=work_end]').value;
        let work_off = targetRow.querySelector('[name=work_off]').value;
        let carfare = targetRow.querySelector('[name=carfare]').value;
        let memo = targetRow.querySelector('[name=memo]').value;

        const data = {
            work_status: work_status,
            work_detail: work_detail,
            work_start: work_start,
            work_off: work_off,
            carfare: carfare,
            memo: memo
        };
        try {
            const response = await fetch(url + "/attend/" + year + "/" + month + "/" + date, {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)    // リクエスト本文をセット
            });
            if (!response.ok) {
                throw new Error(`HTTP error: ${response.status}`);
            }

        } catch (error) {
            console.error(`Error: ${error}`);
        }
    };

    let selectMonth = function (moveTo) {

        var dt = new Date(parseInt(year), parseInt(month) - 1, 1);
        if (moveTo == 'next') {
            dt.setMonth(dt.getMonth() + 1);
        } else {
            dt.setMonth(dt.getMonth() - 1);
        };

        // monthは0始まりなことに注意
        console.log(url + "/attend/" + dt.getFullYear() + "/" + (parseInt(dt.getMonth()) + 1))
        window.location.href = url + "/attend/" + dt.getFullYear() + "/" + (parseInt(dt.getMonth()) + 1);
    };

    // 複数の要素にイベントリスナーを設定
    let inputs = document.querySelectorAll('input, select');
    inputs.forEach(function (input) {
        input.addEventListener('change', update);
    });

</script>
{% endblock %}