{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="{% static 'css/icon.css' %}">
  <link rel="stylesheet" href="/static/uikit/css/uikit.css">
  <script src="/static/uikit/js/uikit.min.js"></script>
  <script src="/static/uikit/js/uikit-icons.min.js"></script>
  <script src="/static/js/common.js"></script>
  <title>{% block title %}{% endblock %}</title>

  {% block head %}{% endblock %}
</head>

<body>
  <header>
    {% block header %}{% endblock %}
  </header>

  <div class="content-main">
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}{% endblock %}
  </footer>
</body>

</html>