{% extends "front/base_nav.html" %}
{% block title %}掲示板{% endblock %}

{% block head %}
{% csrf_token %}
{% endblock %}

{% block content %}


<hr>
<div class="uk-container">

  <div class="uk-child-width-1-2 uk-text-left" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">Category Sort</div>
    </div>
    <div class="uk-child-width-1-2 uk-text-right uk-text-buttom">
      <button class="uk-button uk-button-primary" id="btnNew" type="button">新規作成</button>
    </div>
  </div>
  
  <hr>
  

  <div id="boardList"></div>
  <script type="text/javascript">

    {% autoescape off %}
    const url = "{{ base_url }}";
    let datas = {{ datas | safe }};
    {% endautoescape %}
    const boardList = document.querySelector('#boardList');
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function addList() {

      datas.forEach(function (data) {
        let elemH = document.createElement("h3");
        elemH.className = 'uk-margin-medium';
        let elemA = document.createElement("a");
        let elemId = document.createElement("div");
        elemA.className = "uk-link-heading uk-text-primary";
        elemA.target = "_blank";
        elemA.href = '{% url "front:board_detail" "abc" %}'.replace(/abc/, data.id);
        elemA.innerText = data.title + '@' + data.user.last_name + data.user.first_name;
        elemId.hidden = true;
        elemId.value = data.id;
        elemId.name = 'id';
        boardList.insertBefore(elemH, null);
        elemH.insertBefore(elemA, null);
      });
    };

    function onActive(){
      location.reload();
    };

    function openBoardCreateView(){
      window.open('{% url "front:board_create" %}')
    };
    document.querySelectorAll('[name=boardLink]').forEach(function (e) {
      e.addEventListener('click', openBoardDetail);
    });
    document.querySelector('#btnNew').addEventListener('click', openBoardCreateView);
    addList();
    window.addEventListener('focus', onActive, false);
  </script>
  {% endblock %}