{% load static %}
{% block title %}
{% endblock %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    <div id="your_container">
                <!-- タイムライン部分③ -->
        <div id="bms_room_info_container">
            {{room_id}}
        </div>
        <div id="bms_messages">
            {%for d in data%}
                {%if d.author_id == user.username %}
                    <!--メッセージ２（右側）-->
                    <div class="bms_message bms_right">
                        <div class="bms_message_box">
                            <div class="bms_message_content">
                                <div class="bms_message_text">{{d.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
                {%else%}
                    <!--メッセージ１（左側）-->
                    <div class="bms_message bms_left">
                        <div class="bms_message_box">
                            <div class="bms_message_content">
                                <div class="bms_message_text">{{d.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
                {% endif %}
            {% endfor %}
        </div>
        <div id="bms_send">
            <form id="form">
                {% csrf_token %}
                <textarea id="bms_send_message" name="text"></textarea>
                <button id="bms_send_btn" type="submit" name="btn_save">送信</button>
            </form>
        </div>
        <script>
            var text = document.getElementById('bms_send_message');
            var massage_area = document.getElementById('bms_messages');
            var token = '{{csrf_token}}';

            var div1 = $('<div class="bms_message bms_right"></div>');
            var div2 = $('<div class="bms_message_box"></div>');
            var div3 = $('<div class="bms_message_content"></div>');
            var div4 = $('<div class="bms_message_text"></div>');
            var div5 = $('<div class="bms_clear"></div>');
            var div = $('<div class="bms_message bms_right"><div class="bms_message_box"></div><div class="bms_message_content"></div><div class="bms_message_text"></div>aaa</div>');
            
            $('#bms_send_btn').on('click', function(){
                event.preventDefault();
                // Ajax通信を開始
                $.ajax({
                    url: "{% url 'front:chat_room' room_id %}",
                    method: "POST",
                    headers: { "X-CSRFToken": token },
                    // プレーンテキストを受信（他にはhtml、xml、script、json、jsonp等）
                    dataType: 'text',
                    // リクエストパラメータ
                    data: {
                        room_id: "{{room_id}}",
                        text: text.value
                    },
                    timeout: 5000,
                })
                .done(function(data) {
                    // 通信成功時の処理を記述
                    //location.reload();
                    //window.location.href = "{% url 'front:chat_room' room_id %}";
                    //$('#bms_messages').append(div5);
                    
                })
                .fail(function() {
                    // 通信失敗時の処理を記述
                    $('#resultGET').text('GET処理失敗.');
                });
            });

            $('#button2').on('click', function(){
                // Ajax通信を開始
                $.ajax({
                    url: "{% url 'front:chat_room' room_id %}",
                    method: "GET",
                    dataType: 'text',
                    data: {
                        param1: 'chattest'
                    },
                    timeout: 5000,
                })
                .done(function(data) {
                    // 通信成功時の処理を記述
                    $('ul').append(data);
                })
                .fail(function() {
                    // 通信失敗時の処理を記述
                    $('#resultGET').text('GET処理失敗.');
                });
            })

            // DOM生成時に実行（readyが省略されている形)
            $(function(){
                //処理
                massage_area.scrollTop = massage_area.scrollHeight;
            });

            function scroll_bottom(){
                return 1;
            }
        </script>
    </div>

{% endblock %}