{% extends "front/base_account.html" %}
{% block title %}ログイン{% endblock %}

{% block content %}
<h1>ログイン</h1>

    <form action="?" method="POST">
        <div class="container1">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field.label }}
            <br>
            {{ field }}
            <br>
            {{ field.error }}
        {% endfor %}

        <button type="submit" class="button register">ログイン</button>
        <a href="{% url 'front:signup' %}" class="button register">新規登録</a>
        </div>
        <input type="button" id="button" value="button"/>
        <button id="button1" type="button">GETボタン</button>
        <div id="resultGET"></div>

        <script>
            $('#button1').on('click', function(){
                // Ajax通信を開始
                $.ajax({
                    url: "{% url 'front:test' %}",
                    method: "GET",
                    // プレーンテキストを受信（他にはhtml、xml、script、json、jsonp等）
                    dataType: 'text',
                    // リクエストパラメータ「?param1=いろはに&param2=ほへと&param3=ちりぬるを」
                    data: {
                        param1: 'いろはに',
                        param2: 'ほへと',
                        param3: 'ちりぬるを '
                    },
                    timeout: 5000,
                })
                .done(function(data) {
                    // 通信成功時の処理を記述
                    $('#resultGET').text('GET処理成功' + data);
                })
                .fail(function() {
                    // 通信失敗時の処理を記述
                    $('#resultGET').text('GET処理失敗.');
                });
            })
        </script>
</form>
{% endblock %}