{% extends "front/base.html" %}
{% block title %}{% endblock %}

{% block content %}
<br>

<h1>{{title}}</h1>

<div class="uk-container">
    <div class="uk-container-small">
        <form>
            {% csrf_token %}
            <h2>ユーザ一覧</h2>
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr class="uk-text-center">
                        <th hidden="true" class="uk-width-btn-small"></th>
                        <th class="uk-width-1-5 uk-text-center">名前</th>
                        <th class="uk-width-1-10 uk-text-center">定時</th>
                        <th class="uk-width-btn-small uk-text-center">月</th>
                        <th class="uk-width-btn-small uk-text-center">火</th>
                        <th class="uk-width-btn-small uk-text-center">水</th>
                        <th class="uk-width-btn-small uk-text-center">木</th>
                        <th class="uk-width-btn-small uk-text-center">金</th>
                        <th class="uk-width-btn-small uk-text-center">土</th>
                        <th class="uk-width-btn-small uk-text-center">日</th>
                        <th class="uk-width-1-10 uk-text-center">ランク</th>
                        <th class="uk-width-1-4 uk-text-center">備考</th>
                    </tr>
                </thead>
                <tbody id="registerd">
                    {% for item in data %}
                    <tr>
                        <td name="id" hidden="true">{{ item.id }}</td>
                        <td class="uk-text-center" name="username">{{ item.user.last_name }}{{ item.user.first_name }}</td>
                        <td><input type="text" name="worktime" value="{{ item.day_worktime }}" class="uk-input"></td>
                        <td class="uk-padding-remove">
                            {%if item.mon_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-mon" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-mon"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.tue_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-tue" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-tue"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.wed_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-wed" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-wed"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.thu_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-thu" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-thu"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.fri_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-fri" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-fri"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.sat_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-sat" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-sat"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-remove">
                            {%if item.sun_is_holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-sun" style="background-color:#edc5ee5d;"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">休</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-sun"
                                type="button" on-text="休" off-text="勤" off-color="#ffffff" on-color="#edc5ee5d">勤</button>
                            {% endif %}
                        </td>
                        <td class="uk-padding-small"><input type="text" name="rank" value="{{item.rank}}" class="uk-input"></td>
                        <td class="uk-padding-small"><input type="text" name="memo" value="{{item.memo}}" class="uk-input"></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">

    {% autoescape off %}
    let protocol = "{{ protocol }}";
    let host = "{{ host }}";
    {% endautoescape %}

    const url = protocol + "://" + host;
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const registerd = document.querySelector('#registerd');

    function isHoliday(weekday) {
        if (weekday == '勤') {
            return false;
        } else {
            return true;
        };
    };

    // 更新処理
    let update = function (event) {
        let h = event.target;
        let targetRow = h.parentElement.parentElement;
        let id = targetRow.querySelector('[name=id]').innerText;
        let worktime = targetRow.querySelector('[name=worktime]').value;
        let mon = isHoliday(targetRow.querySelector('[name=btn-mon]').innerText);
        let tue = isHoliday(targetRow.querySelector('[name=btn-tue]').innerText);
        let wed = isHoliday(targetRow.querySelector('[name=btn-wed]').innerText);
        let thu = isHoliday(targetRow.querySelector('[name=btn-thu]').innerText);
        let fri = isHoliday(targetRow.querySelector('[name=btn-fri]').innerText);
        let sat = isHoliday(targetRow.querySelector('[name=btn-sat]').innerText);
        let sun = isHoliday(targetRow.querySelector('[name=btn-sun]').innerText);
        let rank = targetRow.querySelector('[name=rank]').value;
        let memo = targetRow.querySelector('[name=memo]').value;

        const data = {
            worktime: worktime,
            mon: mon,
            tue: tue,
            wed: wed,
            thu: thu,
            fri: fri,
            sat: sat,
            sun: sun,
            rank: rank,
            memo: memo,
        };

        const response = request(url + "/setting/user/" + id, "POST", data, csrftoken);
    };

    let btnOnOffClick = function (event) {
        onoffHandler(event);
        update(event);
    };

    // 複数の要素にイベントリスナーを設定
    let inputsUpd = document.querySelectorAll('[name=btn-mon], [name=btn-tue], [name=btn-wed], [name=btn-thu], [name=btn-fri], [name=btn-sat], [name=btn-sun]');
    
    let buttons = document.querySelectorAll('.btn-onoff');
    buttons.forEach(function (obj) {
        obj.addEventListener('click', btnOnOffClick);
    });

    let inputText = document.querySelectorAll('[name=memo], [name=worktime]');
    inputText.forEach(function (obj) {
        obj.addEventListener('change', update);
    });

</script>

{% endblock %}