{% extends "front/base.html" %}
{% block title %}勤怠区分設定{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="uk-container">
    <div class="uk-container-small">
        <form>
            {% csrf_token %}
            <h2>登録済み</h2>
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-btn-small"></th>
                        <th class="uk-width-1-10" hidden="true">id</th>
                        <th class="uk-width-1-6 uk-text-center">プルダウン表示</th>
                        <th class="uk-width-btn-small uk-text-center">使用可否</th>
                        <th class="uk-width-btn-small uk-text-center">休日指定</th>
                        <th class="uk-text-center">備考</th>
                    </tr>
                </thead>
                <tbody id="registerd">
                    {% for item in data %}
                    <tr>
                        <td><button class="uk-button uk-button-danger uk-button-small btn-delete"
                                type="button">削除</button></td>
                        <td name="id" hidden="true">{{ item.id }}</td>
                        <td><input class="uk-input" type="text" name="name"
                                value="{{ item.name_selection }}"></td>
                        <td>
                            {%if item.use == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-valid"
                                type="button" on-text="有効" off-text="無効">有効</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-valid"
                                type="button" on-text="有効" off-text="無効">無効</button>
                            {% endif %}
                        </td>
                        <td>
                            {%if item.holiday == True %}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-holiday" style="background-color:#edc5ee5d;"
                                type="button" on-text="休日" off-text="出勤" off-color="#ffffff" on-color="#edc5ee5d">休日</button>
                            {%else%}
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" name="btn-holiday"
                                type="button" on-text="休日" off-text="出勤" off-color="#ffffff" on-color="#edc5ee5d">出勤</button>
                            {% endif %}
                        </td>
                        <td>
                            {%if item.memo == None %}
                            <input class="uk-input" type="text" name="memo">
                        </td>
                        {%else%}
                        <input class="uk-input" type="text" name="memo" value={{ item.memo }}>
                        </td>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>新規登録</h2>
            <table class="uk-table uk-table-small uk-table-middle uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-btn-small"></th>
                        <th class="uk-width-1-6 uk-text-center">プルダウン表示</th>
                        <th class="uk-width-btn-small uk-text-center">使用可否</th>
                        <th class="uk-width-btn-small uk-text-center">休日指定</th>
                        <th class="uk-text-center">備考</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button class="uk-button uk-button-register uk-button-small" id="btn-register"
                                type="button">登録</button></td>
                        <td><input class="uk-input" type="text" id="name-i"></td>
                        <td>
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" id="btn-valid-i"
                                type="button" on-text="有効" off-text="無効">有効</button>
                        </td>
                        <td>
                            <button class="uk-button uk-button-default uk-button-small btn-onoff" id="btn-holiday-i"
                                type="button" on-text="休日" off-text="出勤">出勤</button>
                        </td>
                        <td><input class="uk-input" type="text" id="memo-i"></td>
                    </tr>
                </tbody>
            </table>
    </div>
    </form>

</div>

<script type="text/javascript">

    {% autoescape off %}
    let protocol = "{{ protocol }}";
    let host = "{{ host }}";
    {% endautoescape %}

    const url = protocol + "://" + host;

    function isStringEmpty(str) {
        if (!(str?.trim())) {
            return true;
        };
    };

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // 登録処理
    async function registerWorkStatus() {

        // 入力値チェック
        let name = document.querySelector('#name-i').value;
        if (isStringEmpty(name)) {
            alert('プルダウン表示は必須項目です');
            return;
        };
        let valid = document.querySelector('#btn-valid-i').innerHTML;
        let valid_json = true;
        if (valid == "有効") {
            valid_json = true;
        } else {
            valid_json = false;
        };
        let holiday = document.querySelector('#btn-holiday-i').innerHTML;
        let holiday_json = false;
        if (holiday == "休日") {
            holiday_json = true;
        } else {
            holiday_json = false;
        };
        let memo = document.querySelector('#memo-i').value;

        data = {
            "name": name,
            "valid": valid_json,
            "holiday": holiday_json,
            "memo": memo
        };

        const response = await request(url + "/setting/work_status", "POST", data, csrftoken);

        const newRow =
            '<tr> \
                <td><button class="uk-button uk-button-danger uk-button-small" type="button">削除</button></td> \
                <td><input class="uk-input" type="text" value="' + name + '"></td> \
                <td> \
                    <button class="uk-button uk-button-default uk-button-small btn-onoff" type="button" on-text="有効" off-text="無効">' + valid + '</button> \
                </td> \
                <td> \
                    <button class="uk-button uk-button-default  uk-button-small btn-onoff" type="button" on-text="休日" off-text="出勤">' + holiday + '</button> \
                </td> \
                <td><input class="uk-input" type="text" value="' + memo + '"></td> \
            </tr>'
        const registerd = document.querySelector('#registerd');
        registerd.insertAdjacentHTML('beforeend', newRow)
    };

    document.querySelector('#btn-register').addEventListener('click', registerWorkStatus);

    // 更新処理
    let update = async function (event) {
        let h = event.target;
        let targetRow = h.parentElement.parentElement;
        let id = targetRow.querySelector('[name=id]').innerHTML;

        // 入力値チェック
        let name = targetRow.querySelector('[name=name]').value;
        if (isStringEmpty(name)) {
            alert('プルダウン表示は必須項目です');
            return;
        };
        let valid = targetRow.querySelector('[name=btn-valid]').innerHTML;
        let valid_json = true;
        if (valid == "有効") {
            valid_json = true;
        } else {
            valid_json = false;
        };
        let holiday = targetRow.querySelector('[name=btn-holiday]').innerHTML;
        let holiday_json = false;
        if (holiday == "休日") {
            holiday_json = true;
        } else {
            holiday_json = false;
        };
        let memo = targetRow.querySelector('[name=memo]').value;

        const data = {
            id: id,
            name: name,
            valid: valid_json,
            holiday: holiday_json,
            memo: memo
        };

        console.log(url)
        const response = await request(url + "/setting/work_status/" + id, "POST", data, csrftoken);
    };

    // 削除処理
    let deleteHandler = async function (event) {
        let h = event.target;
        let id = h.parentElement.parentElement.querySelector('[name=id]').innerHTML;
        try {
            const response = await request(url + "/setting/work_status/" + id, "DELETE", {}, csrftoken);
            h.parentElement.parentElement.remove();

        } catch (error) {
            console.error(`Error: ${error}`);
        }
    };

    // 複数の要素にイベントリスナーを設定
    let buttons = document.querySelectorAll('.btn-onoff');
    let buttonsDel = document.querySelectorAll('.btn-delete');
    let inputsUpd = document.querySelectorAll('[name=name], [name=memo]');
    let buttonsUpd = document.querySelectorAll('[name=btn-valid], [name=btn-holiday]');
    buttons.forEach(function (button) {
        button.addEventListener('click', onoffHandler);
    });
    buttonsDel.forEach(function (button) {
        button.addEventListener('click', deleteHandler);
    });
    inputsUpd.forEach(function (button) {
        button.addEventListener('change', update);
    });
    buttonsUpd.forEach(function (button) {
        button.addEventListener('click', update);
    });
</script>

{% endblock %}