{% extends "front/base_nav.html" %}
{% block title %}設定{% endblock %}

{% block content %}

<div class="uk-container">
    <div class="uk-margin-medium-top">
        <ul class="uk-flex-center" uk-tab data-uk-tab="{connect:'#my-id'}">
            <li class="uk-active"><a href="#">勤怠区分設定</a></li>
            <li><a href="#">休日設定</a></li>
            <li><a href="#">ユーザ設定</a></li>
            <li><a href="#">決裁フォーマット</a></li>
        </ul>
        <ul id="my-id" class="uk-switcher uk-margin">
            <li>
                <div class="uk-cover-container uk-height-large" uk-height-viewport="expand: true">
                    <iframe src="{% url 'front:setting_work_status' %}" width="100%" height="100%"></iframe>
                </div>
            </li>
            <li>
                <div class="uk-cover-container uk-height-large" uk-height-viewport="expand: true">
                    <iframe src=" {% url 'front:setting_holiday' %}" width="100%" height="100%"></iframe>
                </div>
            </li>
            <li>
                <div class="uk-cover-container uk-height-large" uk-height-viewport="expand: true">
                    <iframe src=" {% url 'front:setting_user' %}" width="100%" height="100%"></iframe>
                </div>
            </li>
            <li>
                <div class="uk-cover-container uk-height-large" uk-height-viewport="expand: true">
                    <iframe src=" {% url 'front:setting_approval_format' 0 %}" width="100%" height="100%"></iframe>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}