{% extends "front/base.html" %}
{% block title %}休日設定{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<br>
{{columns}}
<div class="row">
    <div class="col-md-auto px-5">
        <h1>会社の休日設定</h1>
    </div>
</div>
<div class="row">
    <form action="?" method="POST">
        {% csrf_token %}
        <div class="col-md-auto px-5">
            <table class="table table-bordered table-sm border-success" border="1">
                <thead class="table-active" align="center" height="35">
                    <tr>
                        <th width="5">日付</th><th width="400">詳細</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td><input style="width:100%; box-sizing:border-box" type="date" name="date_{{ forloop.counter }}" value={{ d.date|date:"Y-m-d" }}></td>
                            <td><input style="width:100%; box-sizing:border-box" type="text" name="detail_{{ forloop.counter }}" value={{ d.detail }}></td>
                        </tr>
                    {% endfor %}
                    {% for d in counter %}
                        {% if forloop.counter <= 5 %}
                        <tr>
                            <td><input style="width:100%; box-sizing:border-box" type="date" name="date_add_{{ forloop.counter }}"></td>
                            <td><input style="width:100%; box-sizing:border-box" type="text" name="detail_add_{{ forloop.counter }}"></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>










{% endblock %}
